.cart-page {
  padding: 40px;
  background: #e7e4e4;
  min-height: 100vh;
  font-family:'Times New Roman', Times, serif;
  
  
}

.shoping-cart-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px;
  
}
.shoping-cart-message{
  text-align: center;
box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 5px;
}

.cart-empty-message{
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.cart-item {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  height: 28vh;
  

}

.cart-img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 20px;
}

.cart-details {
  flex: 1;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-controls button {
  padding: 5px 10px;
  border: none;
  background: #0073e6;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.remove-btn {
  margin-top: 10px;
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.summery{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.cart-summary {
 display: flex;
 justify-content: flex-end;
 flex-direction: column;
 gap: 10px;
 width:200px;
}

.clear-btn {
  background: #ff4d4d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
