.container-fluid-Home-page {
  background-image: url("https://www.aviandco.com/media//banners/rubber-strap_2025_web_banner_1_cta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  overflow: hidden;
}

.about-fluid {
  background-image: url("../src/assets/images/About-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  overflow: hidden;
}


.about-fluid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* dark shade */
  z-index: 1;
}



/* Overlay for dark effect */
.container-fluid-Home-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* dark shade */
  z-index: 1;
}

/* Text Content inside */
.banner-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}

.banner-content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.banner-content p {
  font-size: 1.2rem;
  margin-top: 10px;
}
