
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.footer {
    background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
  color: white;
  padding: 20px;
  text-align: center;
  text-align: center;
  margin-top: 30px;
}

.footer-container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px,1fr ));
  margin: auto;
}

.footer-img > img{
  width: 200px;

}

.footer-about,
.footer-links,
.footer-contact {
  flex: 1;
  min-width: 250px;
  margin: 15px;
}

.footer h3 {
  color: white;
  margin-bottom: 15px;
}

.footer p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  text-decoration: none;
  color:white;
  transition: 0.3s;
}

.footer-links ul li a:hover {
  color: #0073e6;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #444;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 14px;
  color: #aaa;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}
