*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.main-body-layout{
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    min-height: 80vh;
    

}